p{
    color:#0867d2;
}
h1{
    color: red;
}
.ref{
    color:yellow
}
.ref{
    font-size: 20px;}

    .John{
        margin: 30px;
    }
    .John{
        color: violet;
    }


    .comp{
        color:aqua;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;

    }

    #seccion1{
        width: 120px;
        height: 170px;
        margin: 10px;
        padding: 10px;
        border: 5px solid rgb(182, 12, 12);
        background-color: rgb(226, 43, 165);
    }

    #seccion2{
        width: 150px;
        height: 100px;
        margin: 10px;
        padding: 10px;
        border: 4px solid blue;
        background-color: brown;
        
    }
    .contenedor{
        display: flex;
        justify-content: center;
    }

    #seccion3{
        width: 160px;
        height: 160px;
        margin: 10px;
        padding: 10px;
        border: 5px solid green;
        background-color: aquamarine;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    .grid-item{
        background-color: lightblue;
        padding: 20px;
    }